.rectangulo1, .rectangulo2, .rectangulo3 {
    height: 6em;
    width: 10em;

}
.rectangulo1 {
    background-color: rgb(160, 243, 141);
}
.rectangulo2 {
    background-color: rgb(121, 222, 98);
    
}
.rectangulo3 {
    background-color: rgb(101, 194, 80);
    
}